@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "logo.css";

body{
    max-width: 90%;
    margin: auto;
    background-color: #6B7F82;
}

.column article{
    margin: 5px 5px 20px 5px;
    background-color: #8EB8E5;
}

.column aside{
    background-color: #8EB8E5;
}

.title__text{
    margin-left: 30px;
    font-size: 4em;
}

.flexedHeader{
    display: flex;
}

.content{
    display:flex;
}

.column--left{
    flex:3;
    text-align: center;
}

.column--right{
    flex:1;
    margin: 5px;
}